<html>
    <head>
        <title>Мои подробности о карточках (cards__details)</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        
        <style type="text/css">
        </style>

    </head>
    <body>

    <h1>Моя страница</h1>
    <div>Сессия: {{ session }}.</div>
    <hr /> Карточка
    <div>
        <table border="1"><tr><td>Who Activated</td><td>When Activated</td></tr>
        {% for element in activity %}
            <tr><td> {{ element.who }}</td>
            <td> {{ element.when }} </td></tr>
        {%endfor %}
        </table>
    </div>
    <hr />
    </body>
</html>